<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Profil</title>
    <link rel="stylesheet" th:href="@{static/css/style1.css}" />
  </head>
  <body>
    <header>
      <div class="wrapper">
        <div class="logo">
          <img src="/static/img/sign.png" alt="" />
        </div>
      </div>

      <div class="welcome-text">
        <table class="table1">
          <tr>
            <td class="labela" width="300px">Ime:</td>
            <td class="podaci">Snjezana</td>
          </tr>

          <tr>
            <td class="labela" width="300px">Prezime:</td>
            <td class="podaci">Simic</td>
          </tr>

          <tr>
            <td class="podaci"><a href="#">Moj profil</a></td>
          </tr>
          <tr>
            <td class="podaci"><a href="#">Moj karton</a></td>
          </tr>
          <tr>
            <td class="podaci"><a href="#">Lista klinika</a></td>
          </tr>
          <tr>
            <td class="podaci"><a href="#">Istorija pregleda</a></td>
          </tr>
          <tr>
            <td class="podaci"><a href="#">Istorija operacija</a></td>
          </tr>
        </table>
      </div>
    </header>
  </body>
</html>
